@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    font-family: "quicksand", "sans-serif";
}

#repoLink {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1em;
    text-align: center;
    width: 15em;
    padding: 0.5em;
    color: #000;
    background: transparent;
    transition: 0.3s;
    border-radius: 1em;
    border: 1px solid #000;
}

#repoLink:hover {
    cursor: pointer;
    border: none;
    color: #fff;
    fill: #fff;
    background: linear-gradient(#4fd800, #2596ff);
    transition: 0.3s;
}