#nav {
    min-height: 6em;
    height: fit-content;
    padding: 0.5em;
    margin: 0 !important;
    align-items: center;
    background-color: rgb(37, 37, 37);
}

#nav>div>* {
    color: #fff;
}

#nav>.show>* {
    background-color: #fff !important;
    color: #000 !important;
}

.nav_title {
    font-size: 1.5em;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: rgb(0, 0, 0, 0.7);
}

.nav-link.active {
    background-color: #000;
}

.nav div {
    width: 100%;
}