#nav {
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    align-items: center;
}

.nav_title {
    font-size: 1.5em;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: rgb(0, 0, 0, 0.7);
}

.nav-link.active {
    background-color: #000;
}

.nav div {
    width: 100%;
}

#nav_dark {
    height: 6em;
    padding: 0.5em;
    margin-bottom: auto;
    align-items: center;
    background-color: rgb(37, 37, 37);
}

#nav_dark>div>* {
    color: #fff;
}

#nav_dark>.show>* {
    background-color: #fff !important;
    color: #000 !important;
}