.DS {
    margin: 1em 0 0 0;
}

.DSVisualizer {
    margin: 1em 0 0 1em;
}

#toolbar {
    margin: 1em 0 0 2em;
    display: flex;
}

#toolbar > button {
    display: none;
    margin-right: 0.5em;
    border-radius: 0.25em;
    border: 1px solid #000;
    background-color: transparent;
}

#toolbar > input {
    display: none;
    width: 5em;
    margin-right: 0.25em;
}