svg {
    transform: translateX(1em);
    display: inline;
}

#toolbar {
    margin: 1em 0 0 2em;
    display: flex;
}

#toolbar>button {
    display: none;
    margin-right: 0.5em;
    border-radius: 0.25em;
    border: 1px solid #000;
    background-color: transparent;
}

#toolbar>input {
    display: none;
    width: 5em;
    margin-right: 0.25em;
}

.item {
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(30, 109, 255);
    color: #fff;
    border-radius: 0.25rem;
    padding: 1em;
    margin: 1em 0.5em;
    width: 4.5em;
    height: 4.5em;
    text-align: center;
}

.visualizer {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.alertBG {
    display: none;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: rgb(77, 77, 77, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
}

.alert {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1.5px solid rgb(95, 95, 95);
    border-radius: 0.25em;
    padding: 1.5em;
}

.close {
    top: 0em;
    right: 0.5em;
    position: absolute;
    cursor: pointer;
}